# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 如果.gitignore中有类似规则，需要添加例外
!/public/fonts/
!/public/fonts/VonwaonBitmap-12pxLite.ttf

dev

assets/illustrations
assets/illustrations_webp

.env
.env.development
.env.production

.npmrc